<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" lang="en">
  <title>footer</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
  <div class="container">
    <table>
      <tr>
        <td>
          <div>&nbsp;</div>
        </td>
        <td>
          <a href="mailto:tor.egil.jacobsen@gmail.com">
            <img src="images/icons/jactor-rises.png" alt="email">
          </a>
        </td>
      </tr>
    </table>
  </div>
</footer>
</body>
</html>