<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/jactor-rises.css"
        th:href="@{/css/jactor-rises.css}"/>
  <title>language</title>
</head>
<body>
<div th:fragment="language" class="container">
  <table th:with="chosen=${chosenLanguage}">
    <tr th:with="currentUrl=${currentRequest.getCurrentUrl()}">
      <td class="alignLeft">
        <div th:if="${chosen.isEnglish()}">
          <img src="../../static/images/icons/flag.eng.chosen.gif" th:src="@{/images/icons/flag.eng.chosen.gif}" th:title="${chosen.getName()}"/>
        </div>
        <div th:if="not ${chosen.isEnglish()}">
          <a th:href="@{${currentUrl}(lang=en)}" th:title="${chosen.getName()}">
            <img src="../../static/images/icons/flag.eng.choose.gif" th:src="@{/images/icons/flag.eng.choose.gif}"/>
          </a>
        </div>
      </td>
      <td class="alignLeft">
        <div th:if="${chosen.isNorwegian()}">
          <img src="../../static/images/icons/flag.nor.chosen.gif" th:src="@{/images/icons/flag.nor.chosen.gif}" th:title=" ${chosen.getName()}"/>
        </div>
        <div th:if="not ${chosen.isNorwegian()}">
          <a th:href="@{${currentUrl}(lang=no)}" th:title="${chosen.getName()}">
            <img src="../../static/images/icons/flag.nor.choose.gif" th:src="@{/images/icons/flag.nor.choose.gif}"/>
          </a>
        </div>
      </td>
      <td class="alignLeft">
        <div th:if="${chosen.isThai()}">
          <img src="../../static/images/icons/flag.thai.chosen.gif" th:src="@{/images/icons/flag.thai.chosen.gif}" th:title=" ${chosen.getName()}"/>
        </div>
        <div th:if="not ${chosen.isThai()}">
          <a th:href="@{${currentUrl}(lang=th)}" th:title="${chosen.getName()}">
            <img src="../../static/images/icons/flag.thai.choose.gif" th:src="@{/images/icons/flag.thai.choose.gif}"/>
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
